{% extends 'base.html' %}

{% block navbar_title %}
  <h2>{{ subject.name }}</h2>
{% endblock %}

{% block content %}
  <div class="card card-wiggle">
    <h4>Select a Level</h4>
    {% if levels %}
      <div class="list-group">
        {% for level in levels %}
          <a href="{% url 'chapter_list' subject.id level %}" class="list-group-item list-group-item-action">
            Level {{ level }}
          </a>
        {% endfor %}
      </div>
    {% else %}
      <p>No levels found for this subject.</p>
    {% endif %}
  </div>
{% endblock %}
