{% extends 'base.html' %}

{% block navbar_title %}
  <h2>Subjects</h2>
{% endblock %}

{% block content %}
  <div class="container subject-list-container subject-list-background">
    {% if subjects %}
      <div class="subject-grid">
        {% for subject in subjects %}
          <div class="card subject-item-card">
            <h3><a href="{% url 'level_select' subject.id %}">{{ subject.name }}</a></h3>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <p>No subjects found.</p>
    {% endif %}
  </div>
{% endblock %}