{% extends 'base.html' %}

{% block navbar_title %}
  <h2>{{ chapter.name }}</h2>
{% endblock %}

{% block content %}
<div class="center-card-container">
    <div class="container">
        {% for topic in topics %}
            <div class="card topic-card">
                <h4 class="topic-name">{{ topic.name }}</h4>
                {% if topic.links.all %}
                    <ul class="topic-list">
                        {% for link in topic.links.all %}
                            <li>
                                <a href="javascript:void(0);" class="topic-list-item video-link" data-video-id="{{ link.video_id }}">
                                    <div class="topic-list-thumbnail">
                                        {% if link.thumbnail_url %}
                                            <img src="{{ link.thumbnail_url }}" alt="{{ link.title }}">
                                        {% endif %}
                                    </div>
                                    <div class="topic-list-content">
                                        <h5>{{ link.title }}</h5>
                                        <p>{{ link.description|truncatewords:20 }}</p>
                                    </div>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>No links for this topic.</p>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}